In [34]:
import sqlalchemy
from sqlalchemy import text, create_engine, Index, MetaData, Table, select, exists
from sqlalchemy.sql import and_
import pandas as pd

In [46]:

db_engine = sqlalchemy.create_engine('postgresql://sgqokpuggkrkve:ff59f8ca03f950cef2e98fb4ae4ff44bdf7136ff37da62215672902c613297d6@ec2-18-211-172-50.compute-1.amazonaws.com:5432/d3mhp3r7jhume9')

In [47]:
df_og = pd.read_sql_query('select * from "label"',con=db_engine)
df_og.head()

,uuid,user_id,docid,model,nonfactual_spans,evidence,error_type,summary,dialogue
0,b8d502c5-1fa8-4b54-930b-8203eac9a9f9,sanjana,13611370,gpt4-32k-0613,None,None,None,Derek asked Judy if she could feed his animals...,"Derek: Judy, r you leaving for the weekend?\r\..."
1,47ff76cb-c241-435f-8e7f-c72db969bcaf,sanjana,13611426,gpt4-32k-0613,None,None,None,Poppy and Harry both share a preference for Li...,Poppy: Yeah. I definitely prefer Lisbon\r\nHar...
2,63d06a97-c9f1-490f-bbfd-4b4a0d5586f2,sanjana,13611442,gpt4-32k-0613,None,None,None,"Helen reached out to Simon, let him know she h...","Helen: Hey, Simo, are you there?\r\nSimon: Yep..."
3,a65985ea-6cc5-414c-8112-81b45a9dca51,sanjana,13611508,gpt4-32k-0613,None,None,None,"Martha, who does not know Ophelia, reaches out...","Martha: Hey, can I ask you a question?\r\nOphe..."
4,21546deb-2628-464e-b81c-208d7f3d432e,sanjana,13611559,gpt4-32k-0613,None,None,None,Rashi is confused about choosing a career due ...,"Teacher: Rashi, why are you so low? \r\nRashi:..."

In [56]:
len(df_og)

209

In [57]:
df = df.drop_duplicates(subset='summary', keep="last")
len(df)

172

In [49]:
df

,uuid,user_id,docid,model,nonfactual_spans,evidence,error_type,summary,dialogue
16,3cc5013c-4080-413e-aa5f-aec0dc93e349,sanjana,13681870,gpt4-32k-0613,None,None,None,Miley expresses her fatigue and lack of desire...,Miley: don''t want to go to work tomorrow!\r\n...
27,c094b128-08b6-4187-91cf-c44d9ab25baa,sanjana,13681871,gpt4-32k-0613,None,None,None,Andy informs Sue that he will be working late ...,Andy: Working late til 4 xx\r\nSue: no worries...
32,149452c6-bf79-47b0-b0ee-ecfcf99caa7f,sanjana,13681429,gpt4-32k-0613,None,None,None,Cass confirmed with Jordan that he received hi...,"Cass: Hi darling, did you get your birthday ca..."
34,a8c98d99-c964-46d0-a51c-bca6569900c1,sanjana,13681439,gpt4-32k-0613,None,None,None,Phoebe can''t go out because her mother is ang...,Phil: can you go out today?\r\nPhoebe: no\r\nP...
36,48d59334-9492-4cc1-a5ce-1b0378e34a1f,sanjana,13681441,gpt4-32k-0613,None,None,None,Joanna shares with Merve that their mutual acq...,Joanna: They are sending emails about Lewandow...
...,...,...,...,...,...,...,...,...,...
204,4812007e-12f5-439d-b490-6dce79cec664,sanjana,13821297,gpt4-32k-0613,None,None,None,Ella asked her family to confirm their attenda...,"Ella: Hey my dear family, could i ask you to c..."
205,de6a199f-48a8-41e4-b2f9-db8c92bbcf7a,sanjana,13821443,gpt4-32k-0613,None,None,None,"Jeff, Peter, and Miranda discuss concerns abou...",Jeff: Have you heard about this Christmas at W...
206,c1200ba9-9257-445d-bccb-761ec17c57fe,sanjana,13821583,gpt4-32k-0613,None,None,None,Laura shares the sad news with Kristian and An...,Laura: Hey I have bad news \r\nKristian: Is yo...
207,14cf1732-5437-4618-9a57-b6325aae74f4,sanjana,13821684,gpt4-32k-0613,None,None,None,Joyce shared a link of something that Michael ...,Joyce: Check this out!\r\nJoyce: <link>\r\nMic...
208,7fda9a3a-e71e-43bd-8f6f-be5b6dc6467c,sanjana,13828110,gpt4-32k-0613,None,None,None,"Rita inquires about one of Helen''s clients, S...",Rita: I need some info on you client.\r\nHelen...

In [44]:
# list(set(df[df['user_id'] == 'sanjana']['summary'].values))

In [53]:
summ_dupes = [summ for summ in list(set(df[df['user_id'] == 'sanjana']['summary'].values)) if len(df_og[df_og['summary'] == summ]) > 1]

In [54]:
df_og[df_og['summary'] == summ_dupes[0]]

,uuid,user_id,docid,model,nonfactual_spans,evidence,error_type,summary,dialogue
60,fbfb5dab-fe6a-40a7-94d1-8b5cd55d7890,sanjana,13716726,gpt4-32k-0613,"Shanon, Victor, Oliver, and Sid, express thei...",Shanon: : Yeah. So what bout him?\nShanon: : B...,Intrinsic_Error,"The group of students, Shanon, Victor, Oliver,...",Shanon: Yeah. So what bout him?\r\nVictor: He'...
63,86b33373-2120-4cc8-80dc-66e3a247f481,sanjana,13716726,gpt4-32k-0613,"Shanon, Victor, Oliver, and Sid, express their...",Shanon: : Yeah. So what bout him?\nVictor: : H...,Intrinsic_Error,"The group of students, Shanon, Victor, Oliver,...",Shanon: Yeah. So what bout him?\r\nVictor: He'...

In [55]:
df[df['summary'] == summ_dupes[0]]

,uuid,user_id,docid,model,nonfactual_spans,evidence,error_type,summary,dialogue
63,86b33373-2120-4cc8-80dc-66e3a247f481,sanjana,13716726,gpt4-32k-0613,"Shanon, Victor, Oliver, and Sid, express their...",Shanon: : Yeah. So what bout him?\nVictor: : H...,Intrinsic_Error,"The group of students, Shanon, Victor, Oliver,...",Shanon: Yeah. So what bout him?\r\nVictor: He'...

In [59]:
df.to_csv('/home/sanjana/factual_evaluation_source_based/datasets/llm_annotations/sample/sample_annotations_sanjana.csv')