In [71]:
import sqlalchemy
from sqlalchemy import text, create_engine, Index, MetaData, Table, select, exists
from sqlalchemy.sql import and_
import pandas as pd
from sqlalchemy.dialects.mssql.base import VARCHAR

In [72]:
# df = pd.read_sql('')

In [73]:

db_engine = sqlalchemy.create_engine('postgresql://sgqokpuggkrkve:ff59f8ca03f950cef2e98fb4ae4ff44bdf7136ff37da62215672902c613297d6@ec2-18-211-172-50.compute-1.amazonaws.com:5432/d3mhp3r7jhume9')

In [74]:
metadata = MetaData(bind=db_engine)
metadata.reflect()
print(metadata)
generated_summaries = metadata.tables['generated_summaries']
label = metadata.tables['label']

MetaData(bind=Engine(postgresql://sgqokpuggkrkve:***@ec2-18-211-172-50.compute-1.amazonaws.com:5432/d3mhp3r7jhume9))

In [77]:
with db_engine.connect() as con:
    stmt = select([label.c.user_id, label.c.docid, label.c.nonfactual_spans, label.c.evidence, label.c.error_type, label.c.summary, label.c.dialogue]).where(label.c.user_id == 'ann_vimn')
    # con.execute('Set TEXTSIZE {0}'.format(200000))
    all_results = con.execute(stmt).fetchall()

In [78]:
# with db_engine.connect() as con:
#     stmt = select(generated_summaries.c.dialogue).where(label.c.docid == generated_summaries.c.docid)
#     dlg_results = con.execute(stmt).fetchone()

In [79]:


for each in all_results:
    print(each)
    print('=='*13)

('ann_vimn', '13611734', None, None, None, 'Richie and Clay are discussing the performance of a soccer player named Pogba, who they refer to as "Pogboom." They praise his striking ability, and  ... (132 characters truncated) ... se, trusts him. After a particularly impressive 60 minutes on the pitch, they agreed that Pogba deserved to score and were happy to see him rewarded.', "Richie: Pogba\r\nClay: Pogboom\r\nRichie: what a s strike yoh!\r\nClay: was off the seat the moment he chopped the ball back to his right foot\r\nRic ... (147 characters truncated) ... ne does\r\nClay: yeah, he really deserved to score after his first 60 minutes\r\nRichie: reward\r\nClay: yeah man\r\nRichie: cool then \r\nClay: cool")
==========================
('ann_vimn', '13680968', 'Boris reminds her to initial the change with his assistant ', 'Sarah :  Do I need to initial the change?\n\n            \n                    \n                \n                    \n                    \n                        Boris :  Yes, please come see my assistant at your earliest convenience.\nSarah :  Do I need to initial the change?', 'Intrinsic_Error', "Sarah''''s request for PTO was denied due to many requests and her relatively low seniority. However, Boris offers her first choice of dates for the  ... (120 characters truncated) ... r a long weekend the following week. Boris reminds her to initial the change with his assistant and thanks her for her understanding and flexibility.", "Boris: Due to the number of PTO requests this week, we had to decide who will be allowed to take off based on seniority. \r\nSarah: I understand.\r\n ... (1001 characters truncated) ... xactly.\r\nSarah: Thank you again for explaining it so well.\r\nBoris: My pleasure. Have a nice holiday and enjoy your time off.\r\nSarah: Thank you!")
==========================
('ann_vimn', '13680992', None, None, None, 'Mr. Williams asks Ms. Blair to join him for a coffee, and she happily agrees. After discussing preferences, they decide to meet at her favourite coffee place near the square in a side alley at 2 p.m.', "Mr. Williams: Ms. Blair, would you like to go for a coffee?\r\nMs. Blair: I thought you''''d never ask.\r\nMr. Williams: That''''s outstanding. Do yo ... (62 characters truncated) ... It''''s near the square in a side alley.\r\nMr. Williams: I think I know which one. Let''''s say 2 p.m.?\r\nMs. Blair: Sounds great. See you there :)")
==========================
('ann_vimn', '13716595', 'Atnee played peacekeeper, urging participants to take it easy.', 'Atnee :  Ed, take it easy\n\n\n        ', 'Intrinsic_Error', "Ed, Valerie, and Jessica emphasized traditional beliefs, suggesting that sex is only appropriate for individuals who are married, only in the mission ... (358 characters truncated) ... lizing and teases Ed in response, to which Ed reaffirms his commitment to his beliefs. Atnee played peacekeeper, urging participants to take it easy.", "Ed: Sinners!! Sex is for married people\r\nValerie:  double sin if its anything but missionary style!\r\nChris: Then you go get married & leave us al ... (346 characters truncated) ... . :-))) And not to be enjoyed. :-)))\r\nMatt: Ed, Ok. See you in hell !! \r\nEd: Matt , No you wont. I dont even look on the direction of another man")
==========================
('ann_vimn', '13716726', None, None, None, "The group of students, Shanon, Victor, Oliver, and Sid, express their joy that their teacher has been fired and is no longer employed at their school ... (49 characters truncated) ... acher''''s inability to handle stress or potential substance abuse. There is also a mention of the teacher being physically thrown out of the school.", "Shanon: Yeah. So what bout him?\r\nVictor: He''''s no longer our teacher :)\r\nOliver: I''''m so happy :)\r\nSid: Me too!\r\nShanon: Bt y?\r\nSid: He ... (68 characters truncated) ... n out!\r\nShanon: What?!\r\nVictor: I suppose he''''s had it and lost it.\r\nOliver: Or maybe had one too many ;)\r\nSid: Not. Our. Teacher. Anymore!")
==========================
('ann_vimn', '13810193', None, None, None, "Amelia thanks Lindsay for attending her child Elliot''''s birthday party, emphasizing that he enjoyed it. Lindsay affirms that her child, Finlay, also had a great time at the party. Amelia expresses that the party would not have been the same without their presence.", "Amelia: Just wanted to say again, thank you so much for coming to Elliot''''s birthday party. He loved it! \r\nLindsay: No worries, Finlay had a lovely time! thanks for having us!\r\nAmelia: it wouldn''''t be the same without you guys xx\r\nLindsay: glad he had a good time! x")
==========================
('ann_vimn', '13729565', None, None, None, 'Eric and Rob are discussing a stand-up comedy routine they both enjoyed, particularly a segment involving a train and a character referred to as MACH ... (75 characters truncated) ... d decide to look up more of the comedian\'\'\'\'s work on Youtube. They affirm their enjoyment by repeating the phrase "MACHINE!" before signing off.', "Eric: MACHINE!\r\nRob: That''''s so gr8!\r\nEric: I know! And shows how Americans see Russian ;)\r\nRob: And it''''s really funny!\r\nEric: I know! I ... (203 characters truncated) ...  of his stand-ups on youtube.\r\nEric: Gr8! I''''ll watch them now!\r\nRob: Me too!\r\nEric: MACHINE!\r\nRob: MACHINE!\r\nEric: TTYL?\r\nRob: Sure :)")
==========================
('ann_vimn', '13730730', None, None, None, "Christine won''''t be attending school because she thinks she has the flu, but doesn''''t have a high temperature. Her symptoms include a blocked nos ... (137 characters truncated) ... Christine warns her not to come in case she catches the cold. If she''''s awake, evidenced by her room light being on, she''''s open to a phone call.", "Annie: Are you going to be at school?\r\nChristine: Not tomorrow. I am not well.\r\nAnnie: Oh noes! What happened?\r\nChristine: Got the flu, I think ... (502 characters truncated) ... s cold off me.\r\nAnnie: I think I probably had it already, but you might be sleeping.\r\nChristine: If the light in my room is on, call if you want.")
==========================
('ann_vimn', '13730929', None, None, None, "Cara wanted to visit Celine, but Celine wasn''''t at home. Celine offered to meet Cara in the evening instead, and Cara agreed to it, asking Celine to call her in case she decides to come over.", "Cara: hey\r\nCara: are you at home\r\nCeline: hey Cara\r\nCeline: No i''''m not\r\nCara: okay then, i just wanted to pass by\r\nCeline: im sorry, i can drop by in the evening if you dont mind\r\nCara: its fine, call me then if you decide to come\r\nCeline: ok")
==========================
('ann_vimn', '13813011', None, None, None, "Nova and Dominic are discussing an internet trend where actor Timothe Chalamet is photoshopped into artworks. They find it amusing and compare Chalam ... (30 characters truncated) ...  a young man from a 19th-century portrait. They joke that he looks as if he were an absinthe-drinking, Rimbaud poem-reading individual from that era.", "Nova: Do know that people are photoshoping Timothe Chalamet into artworks? :D\r\nNova: It''''s hilarious, check it out: <file_other>\r\nDominic: lol  ... (135 characters truncated) ... a: omg you''''re so right! :D he looks as if he read Rimbaud''''s poems and drank absinthe on a daily basis\r\nDominic: hahaha XD it''''s so accurate")
==========================
('ann_vimn', '13813794', "Brooklyn is pessimistic about the idea of New Year''s resolutions", 'Not found', 'Extrinsic_Error', "Hannah and Brooklyn are discussing their New Year''''s resolutions. Hannah shares her goals of losing weight, learning how to cook, meal prepping, an ... (208 characters truncated) ... ng she likes to think that people get numerous second chances to improve their lives. Brooklyn, unconvinced, wishes Hannah luck with her resolutions.", "Hannah: HAPPY NEW YEAR!!! :))) \r\nBrooklyn: Same to you! Have you made any New Year''''s resolutions? ;>\r\nHannah: A whole list ^^\r\nHannah: New y ... (1182 characters truncated) ... any better explanation.\r\nBrooklyn: Well, you haven''''t convinced me. :) Nevertheless good luck with all your resolutions. ;)\r\nHannah: Thanks! :*")
==========================
('ann_vimn', '13820579', None, None, None, 'Eve, Charlie, and Nicole agreed to meet at the entrance of a crowded location.', "Eve: Where are we meeting?\r\nCharlie: at the entrance\r\nNicole: yes, it''''s the best place. We would''''t find each other inside, it''''ll be too crowded\r\nEve: ok!")
==========================

In [3]:
df_og = pd.read_sql_query('select * from label',con=db_engine)
len(df_og)

182

In [4]:
len(df_og)

182

In [57]:
df = df.drop_duplicates(subset='summary', keep="last")
len(df)

172

In [49]:
df

,uuid,user_id,docid,model,nonfactual_spans,evidence,error_type,summary,dialogue
16,3cc5013c-4080-413e-aa5f-aec0dc93e349,sanjana,13681870,gpt4-32k-0613,None,None,None,Miley expresses her fatigue and lack of desire...,Miley: don''t want to go to work tomorrow!\r\n...
27,c094b128-08b6-4187-91cf-c44d9ab25baa,sanjana,13681871,gpt4-32k-0613,None,None,None,Andy informs Sue that he will be working late ...,Andy: Working late til 4 xx\r\nSue: no worries...
32,149452c6-bf79-47b0-b0ee-ecfcf99caa7f,sanjana,13681429,gpt4-32k-0613,None,None,None,Cass confirmed with Jordan that he received hi...,"Cass: Hi darling, did you get your birthday ca..."
34,a8c98d99-c964-46d0-a51c-bca6569900c1,sanjana,13681439,gpt4-32k-0613,None,None,None,Phoebe can''t go out because her mother is ang...,Phil: can you go out today?\r\nPhoebe: no\r\nP...
36,48d59334-9492-4cc1-a5ce-1b0378e34a1f,sanjana,13681441,gpt4-32k-0613,None,None,None,Joanna shares with Merve that their mutual acq...,Joanna: They are sending emails about Lewandow...
...,...,...,...,...,...,...,...,...,...
204,4812007e-12f5-439d-b490-6dce79cec664,sanjana,13821297,gpt4-32k-0613,None,None,None,Ella asked her family to confirm their attenda...,"Ella: Hey my dear family, could i ask you to c..."
205,de6a199f-48a8-41e4-b2f9-db8c92bbcf7a,sanjana,13821443,gpt4-32k-0613,None,None,None,"Jeff, Peter, and Miranda discuss concerns abou...",Jeff: Have you heard about this Christmas at W...
206,c1200ba9-9257-445d-bccb-761ec17c57fe,sanjana,13821583,gpt4-32k-0613,None,None,None,Laura shares the sad news with Kristian and An...,Laura: Hey I have bad news \r\nKristian: Is yo...
207,14cf1732-5437-4618-9a57-b6325aae74f4,sanjana,13821684,gpt4-32k-0613,None,None,None,Joyce shared a link of something that Michael ...,Joyce: Check this out!\r\nJoyce: <link>\r\nMic...
208,7fda9a3a-e71e-43bd-8f6f-be5b6dc6467c,sanjana,13828110,gpt4-32k-0613,None,None,None,"Rita inquires about one of Helen''s clients, S...",Rita: I need some info on you client.\r\nHelen...

In [44]:
# list(set(df[df['user_id'] == 'sanjana']['summary'].values))

In [53]:
summ_dupes = [summ for summ in list(set(df[df['user_id'] == 'sanjana']['summary'].values)) if len(df_og[df_og['summary'] == summ]) > 1]

In [54]:
df_og[df_og['summary'] == summ_dupes[0]]

,uuid,user_id,docid,model,nonfactual_spans,evidence,error_type,summary,dialogue
60,fbfb5dab-fe6a-40a7-94d1-8b5cd55d7890,sanjana,13716726,gpt4-32k-0613,"Shanon, Victor, Oliver, and Sid, express thei...",Shanon: : Yeah. So what bout him?\nShanon: : B...,Intrinsic_Error,"The group of students, Shanon, Victor, Oliver,...",Shanon: Yeah. So what bout him?\r\nVictor: He'...
63,86b33373-2120-4cc8-80dc-66e3a247f481,sanjana,13716726,gpt4-32k-0613,"Shanon, Victor, Oliver, and Sid, express their...",Shanon: : Yeah. So what bout him?\nVictor: : H...,Intrinsic_Error,"The group of students, Shanon, Victor, Oliver,...",Shanon: Yeah. So what bout him?\r\nVictor: He'...

In [55]:
df[df['summary'] == summ_dupes[0]]

,uuid,user_id,docid,model,nonfactual_spans,evidence,error_type,summary,dialogue
63,86b33373-2120-4cc8-80dc-66e3a247f481,sanjana,13716726,gpt4-32k-0613,"Shanon, Victor, Oliver, and Sid, express their...",Shanon: : Yeah. So what bout him?\nVictor: : H...,Intrinsic_Error,"The group of students, Shanon, Victor, Oliver,...",Shanon: Yeah. So what bout him?\r\nVictor: He'...

In [59]:
df.to_csv('/home/sanjana/factual_evaluation_source_based/datasets/llm_annotations/sample/sample_annotations_sanjana.csv')