In [14]:
import pandas as pd
from GPTModel import GPTInference

In [15]:
sota_path = '/home/sanjana/factual_evaluation_source_based/datasets/sota_annotations/dialogue_aggrefact.csv'
    
def read_data(path):
    return pd.read_csv(path)

def next_summary_source_pair(): 
    df = read_data(sota_path)
    df = df[df['Model'] != 'human_ref']
    dialogues = list(df['Dialogue'].values)
    summaries = list(df['Summary'].values)
    models = list(df['Model'].values)
    for dlg, summ, mdl in list(zip(dialogues, summaries, models)):
        yield dlg, summ, mdl

In [16]:
def pred_label_prompt():
    gpt_model = GPTInference()
    all_answers = []
    label_instruction = 'Decide whether the summary is consistent with the dialogue. Note consistency means all the information in the summary can be found or inferred from the dialogue. A consistent summary does not contain contradictory or new information.'
    for dlg, summ, model in next_summary_source_pair():
        prompt = f'{instruction}\nDialogue: {dlg}\nSummary: {summ}\n Answer(yes or no):'
        answer = gpt_model.get_chatgpt_response(prompt)
        all_answers += [answer]
    return all_answers

,Unnamed: 0,DocID,Dialogue,Model,Summary,w/ Error,CorefE,CorefE_text,CircE,CircE_text,...,GramE,GramE_text,PredE,PredE_text,SubjObjE,SubjObjE_text,OtherE,OtherE_text,LinkE,LinkE_text
1,1,13809941,Thelma: i dont have anything to wear\nLouisa: ...,bart_large,Thelma doesn't have anything to wear. Louisa w...,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
2,2,13809941,Thelma: i dont have anything to wear\nLouisa: ...,mv-bart_large,Thelma doesn't have anything to wear. Louisa w...,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
3,3,13809941,Thelma: i dont have anything to wear\nLouisa: ...,co-ref bart large,Thelma doesn't have anything to wear. Louisa w...,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
4,4,13809941,Thelma: i dont have anything to wear\nLouisa: ...,condigsum bart large,Louisa will bring Thelma her red velvet dress.,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
6,6,13814886,"Emma: How was New Year's Eve? :)\nJosh: nice, ...",bart_large,Josh spent New Year's Eve with his friends. Em...,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1545,395,13864835,Tony: <photo_file>\nAmy: Sweet little cat <3\n...,CODS,Amy sends Lucas a photo of a cat.,1,0.0,NaN,0.0,NaN,...,0.0,NaN,0.0,NaN,1.0,Amy,NaN,NaN,0.0,NaN
1546,396,13727934,"Patricia: Hey, could you give me a call in an ...",BART,George will call Patricia in an hour.,0,0.0,NaN,0.0,NaN,...,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN
1547,397,13727934,"Patricia: Hey, could you give me a call in an ...",UniLM,George will call Patricia in an hour or so bec...,1,1.0,she,0.0,NaN,...,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN
1548,398,13727934,"Patricia: Hey, could you give me a call in an ...",MV-BART,Patricia wants George to call her in an hour.,0,0.0,NaN,0.0,NaN,...,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN
1549,399,13727934,"Patricia: Hey, could you give me a call in an ...",CODS,Patricia wants George to call her in an hour. ...,0,0.0,NaN,0.0,NaN,...,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN